---
---

@import "{{ site.theme }}";

/*
 * Background image at top-left corner
 */
body {
    background-image: url(bg.png);
    background-repeat: no-repeat;
}

/*
 * GitHub buttons
 */

div#github_buttons {
  margin: auto;
}

div#github_buttons_row {
  margin: auto;
  text-align: center;
}
